
<div class="scrollPane">
<div class="row">
    <div ng-repeat="project in projects">
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div style="background-color:grey;border: 2px solid;border-color: black;" class="col-md-4">
              <a href="{{project.info}}" target="_blank"><h4><b><u>{{project.title}}</u></b>, <i><u>{{project.company}}</u></i></h4></a>
              <p ng-bind-html="project.description | unsafe"</p>
              <h5>{{project.fromDate}} - {{project.toDate}}</h5>
        </div>
    </div>
</div>
</div>